venv/
__pycache__/
*.pyc
trader_hub.db
static/uploads/avatars/*
static/uploads/screenshots/*
static/uploads/posts/*
!static/uploads/avatars/.gitkeep
!static/uploads/screenshots/.gitkeep
!static/uploads/posts/.gitkeep
